# Dependências
node_modules/

# Build
dist/

# Variáveis de ambiente (NUNCA sobe pro git)
.env
.env.local
.env.production

# Prisma
prisma/migrations/dev/

# Logs
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# VS Code
.vscode/settings.json

CLAUDE.md